.navbar {
    padding: 10px 20px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.navbar_logo {

}

.navbar_logo img {
    height: 72px;
    width: auto;
}

.navbar_right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.project_create_btn {
    background-color: #987CC2;
    color: white;
    border: 1px solid #815DB7;
    padding: 5px 15px;
    border-radius: 8px;
}

.avatar_group {
    gap: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.avatar_group p {
    color: #987CC2;
}

.avatar_group img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.create_box {
    width: 400px;
    min-height: 400px;
    padding: 20px 50px;
    background-color: white;
    border-radius: 16px;
}

.create_box h1 {
    font-size: 2rem;
    margin: 15px 0;
}

.submit_btn {
    padding: 10px 25px;
    color: white;
    background-color: #B39FD2;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}