.modal_container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal_close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 3rem;
    cursor: pointer;
    color: white;
    z-index: 100;
}