.kanban_tab {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    height: 100%;
}

.kanban_column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 32%;
    height: 100%;
}

.kanban_name {
    background-color: #E3DCEF;
    box-shadow: rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.kanban_name h1 {
    color: #987CC2;
    padding: 10px 50px;
    font-size: 2.5rem;
    font-weight: bolder;
    text-align: center;
}


.kanban_name div {
    cursor: pointer;
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kanban_name div p {
    font-size: 3rem;
    color: #987CC2;
}


.kanban_items {
    flex-grow: 1;
    /*max-height: 100%;*/
    /*min-height: 100%;*/
    height: 200px;
    background-color: #E3DCEF;
    border-radius: 16px;
    overflow-y: auto;
}

.create_box {
    width: 400px;
    min-height: 400px;
    padding: 20px 50px;
    background-color: white;
    border-radius: 16px;
}

.create_box h1 {
    font-size: 2rem;
    margin: 15px 0;
}

.submit_btn {
    padding: 10px 25px;
    color: white;
    background-color: #B39FD2;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}